.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 10px;
}

.card-register {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  min-height: 522px;
}

.left-register {
  flex: 1;
  background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
    url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
      center;
  background-size: cover;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: white;
}

h1 {
  font-size: 80px;
  line-height: 80px;
}

p span.logo {
  color: #938eef;
  font-weight: bold;
}
span {
  font-size: 14px;
}

button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: white;
  color: rebeccapurple;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

.right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.right h1 {
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 12px 10px;
  outline-color: #938eef;
}

button.btn-login {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #938eef;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes fadeSpan {
  0% {
    opacity: 1;
    transform: rotateX(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotateX(0deg);
  }
  100% {
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}

.reg-error {
  display: none;
  background: #938eef;
  padding: 4px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  animation-name: fadeSpan;
  animation-duration: 12000ms;
  animation-fill-mode: forwards;
  color: white;
  font-weight: bold;
  width: max-content;
}
